/* $Id$ */
body {
	margin:0 auto;background: #F3F0EB;
font:12px Arial, Helvetica, sans-serif;
}

img {
	border:0px;
	outline:none;
	color:#555555;
	text-decoration:none;
}

.flLeft {
	float:left;
}

.flRight {
	float:right;
}

.clearBoth {
	clear:both;
    font-size: 9.5pt !important;

}

.resetMargin {
	margin:0 auto;
	padding:0;
	list-style:none;
}

.borderNone {
	border:none;
}
/** Common Styles End**/

/* Common Styles Fonts */

.boldText, .boldText a {
	font-weight:bold;
	text-decoration:none;
}

.italicText {
	font-style:italic;
}

.smallText {
	font-size:11px;
	font-weight:normal;
}

.normalSmallText {
	font-size:12px;
}
/*Common Styles Fonts  End*/

.commntBox_
{
width:1040px;margin:0 auto;

}

.contentContainer{
	overflow:auto;
	margin:10px 0 0 0;
}

.contentWrapper{
background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	min-height:670px;padding:15px;
	 border-radius: 3px 3px 3px 3px;
	 position:relative;
}

.pageHeader{
	padding:6px 0 6px 0;
 position: relative;
}

.pageHeader h1{
	color:#4e4742;
	font-size:15px;
}

.pageHeader h1 a, .pageHeader h1 a:hover{ 
color:#4e4742;text-decoration:none;
}

.pageHeader h1 span{
padding:10px 0 0 10px;
font-weight:lighter;
font-size:18px;
display:block;
}

.supMenu{
padding:0;float:right;
}

.supMenu a{
	margin-left:25px;
	float:left;
}

/*mainNav*/
.mainNav{
	 background: url("../../images/menuSprite.png") repeat-x scroll 0 -131px transparent;
    border-radius: 5px 5px 5px 5px;
   
    clear: both;
   min-height: 35px;
    margin-top: 5px;
    padding: 0px 5px 0 10px;
    font-size : 1.07em
}

.mainMenu ul {
margin:0 2px;
}

.mainMenu ul li{ 
float:left;
}

.mainMenu ul li a{
  color: #F9F9F9;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 18px 10px 17px;
    text-decoration: none;
}

.mainMenu ul .selected a, .mainMenu ul li a:hover{
background: -moz-linear-gradient(center top , #111111, #333333) repeat scroll 0 0 transparent;
    border-color: #222222 #444444;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    box-shadow: 0 0 9px #000000 inset;
	padding: 10px 17px 9px 16px;
    color: #FFFFFF;
background: #333;text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
	background: -moz-linear-gradient(top,  #333,  #222);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222');
}

.newTopic{
    box-shadow: -1px 1px #000000, 0 0 #000000 inset;
    color: green;    cursor: pointer;
    float: left;    margin: 2px 6px 0 0;
    min-width: 87px;    padding:6px 0 8px;
    text-align: center;
background: -moz-linear-gradient(center top , #111111, #333333) repeat scroll 0 0 transparent;
    border-color: #222222 #444444;    border: 1px solid #444444;
    box-shadow: 0 0 9px #000000 inset;	border-radius:3px;font-size:12px;
 }

.newTopic a{
	color:#99db15; font-weight:bold;
}

.newTopic a:hover{
text-decoration:none;
}

/*spsearchBox*/
.blackthume_searchBox{

float:left;
width:130px;
margin:2px 0px 0 0;
background:url(../images/menuSprite.png) 0 -173px repeat-x;
border-radius:10px;

}
.searchBoxFocus{
background:#fff;
}
.searchBoxFocus .imgSearchWhite{
        background:url(../images/searchIcon.png) -22px 0;
}
.searchBoxFocus .imgSearchArrowWhite{
    background:url(../images/searchIcon.png) -71px 0 ;
}
.blackthume_searchBox input[type="text"]{
width:80%;height:15px;float:left;padding:4px;
border:none;background:none
}

.blackthume_searchBox input[type="button"]{
width:30px;margin:0px 0 0 0;
height:28px;float:right;border:none;
}
.imgSearchWhite{
	background:url(../images/searchIcon.png);
	width:11px;height:12px;margin: 5px 0 0 6px;
	cursor:pointer;
}

.imgSearchBlack{
	background:url(../images/searchIcon.png) -22px 0;
	width:11px;height:12px;margin: 2px 0 0 6px;
	cursor:pointer;
}

.imgSearchArrowBlack{
	background:url(../images/searchIcon.png) -71px 0 ;
	width:5px;height:10px;margin: 5px 0 0 6px;
	cursor:pointer;
}

.imgSearchArrowWhite{
	background:url(../images/searchIcon.png) -49px 0 ;
	width:5px;height:10px;margin: 5px 0 0 2px;
	cursor:pointer;
}

.searchDropdown{
	position:relative;
	padding:2px 5px 5px 5px;
}

.searchDropdown ul{
border:1px solid #737373;
clear:both;
position:absolute;background:#fff;
top:23px;right:0;
min-width:205px;z-index: 999;
border-radius:3px;
}

.searchDropdown ul li{
	padding:5px;cursor:pointer;
	overflow:auto;
}

.searchDropdown ul li:hover{
	background:#272727;
	color:#fff;
}

.searchDropdown ul li:hover .imgSearchBlack{
background:url(../images/searchIcon.png);
	width:11px;height:12px;margin: 3px 0 0 6px;
	cursor:pointer;
}
.searchDropdown ul li:hover a{
color:#fff;text-decoration:none;
}

/* Theme changes */
.loadingImageCont {
position:fixed;z-index:50;background-color:#111111;color:#fff;margin:0% 45%;padding:2px 10px;-moz-border-radius:0px 0px 3px 3px;text-align:center;display:none;
}

.footerMain {
    background: none repeat scroll 0 0 #484848;
}
.footerMain .wrapper {
    border-top: 1px solid #282828;
}

.topWhiteBorder{
border:none;
}

.imgSmallRss{
margin: 2px 0px 0 0;
}

.innerLeftActions ul li.selected{
background-color: #333333;
}
.innerLeftActions ul li:hover{
background-color: #555555;
}
.innerLeftActions ul li:hover a {
    color: #FFFFFF;
}
a.mediumUnderlineLink {
    border-bottom: 0 dotted #555555;
    text-decoration: none;
}
.ndbreadCrumbNav a, .ndName {
		color: #555555;
                font-size: 1.1em;
                line-height: 1.7;
	}
.ndsingleList h3 a.header {
	color: #3c3c3e;
    font: bold 1em/1.7 arial,helvetica,sans-serif;
}
/* Theme changes END */
/*spsearchBox END*/

.ndsingleList, .ndtwitterItem {
    color: #999999;
}
.ndsingleList h3 a.header{
    color: #333333;
}
.mainNav .newTopic a{
color: #F9F9F9;
}

.footerMain a{
color: #F9F9F9;
}
.footerMain a, .footerMain a:hover {
color: #F9F9F9;
}
.ndcontent a:link, .ndcontent a:visited{
color : #417AD1;
}
.responseHeight a:link, .responseHeight a:visited{
color : #417AD1;
}
.textContent a:link, .textContent a:visited{
color : #417AD1;
}
.contentCont a:link, .contentCont a:visited{
color : #417AD1;
}
.postContent a:link, .postContent a:visited{
	color: #417AD1;
}
.ndquickviewCont .ndheader a {
    color: #555555;
}
.ndquickList {
    background: none repeat scroll 0 0 #F1F1F1;
}
.business .pageHeader{
display: none;
}
.business .mainNav{
margin-top : 3px;
}

                .imgTick{
                        background:url(../images/imgSprite1.png) 765px -765px;
                }
		.question .typeIcon{
		background: url("../images/imgSprite1.png") no-repeat scroll -417px -776px transparent;
		}
		.discuss .typeIcon{
		background: url("../images/imgSprite1.png") no-repeat scroll -363px -774px transparent;
		}
		.announcement .typeIcon{
		background: url("../images/imgSprite1.png") no-repeat scroll -384px -772px transparent;
		}
		.sticky .typeIcon{
		background:url(../images/imgSprite1.png) no-repeat scroll -481px -776px transparent;
		}
		.error .typeIcon{
		background: url("../images/imgSprite1.png") no-repeat scroll -436px -773px transparent;
		}
		.idea .typeIcon{
		background: url("../images/imgSprite1.png") no-repeat scroll -403px -773px transparent;
		}
		.answered .typeIcon {
		background: url("../images/imgSprite1.png") no-repeat scroll -503px -776px transparent;
		}
		.solved .typeIcon {
		background: url("../images/imgSprite1.png") no-repeat scroll -720px -767px transparent;
		}
                .question .typeIcon{
		background: url("../images/imgSprite1.png") no-repeat scroll -420px -774px transparent;
		}
                .imgSticky {
		background:url(../images/imgSprite1.png) no-repeat scroll -481px -776px transparent;
                }
            .nddiscuss .ndtypeIcon {
    background:url(../images/imgSprite1.png) -364px -775px no-repeat transparent scroll;
    height:15px;
    margin: 10px 7px 30px 11px;
    width: 15px;
}
.ndquestion .ndtypeIcon {
    background:url(../images/imgSprite1.png) -420px -774px no-repeat;
    height:15px;
    width:15px;
    margin: 10px 7px 30px 11px;
}
.ndanswered .ndtypeIcon {
        background: url("../images/imgSprite1.png") no-repeat scroll -503px -774px transparent;
}
.ndsolved .ndtypeIcon {
        background: url("../images/imgSprite1.png") no-repeat scroll -460px -774px transparent;
}
.nderror .ndtypeIcon {
    background:url(../images/imgSprite1.png) -438px -775px no-repeat;
    height:15px;
    width:15px;
    margin: 10px 7px 30px 11px;
}
.ndannouncement .ndtypeIcon {
    background:url(../images/imgSprite1.png) -384px -774px no-repeat;
    height:15px;
    width:15px;
    margin: 10px 7px 30px 11px;
}
.ndidea .ndtypeIcon {
    background:url(../images/imgSprite1.png) -404px -774px no-repeat;
    height:15px;
    width:15px;
    margin: 10px 7px 30px 11px;
}
.singleForum .innerActionsList li{
    border-bottom: 0 none;
    margin: 1px 0;
    padding: 3px 21px 3px 2px;
}
.autoListOptions b {
    background: none repeat scroll 0 0 #777777;
    border-bottom: 2px solid #555555;
}
.autoListOptions {
    background: none repeat scroll 0 0 #F3F3F3;
}
h3 a:link, h3 a:visited {
    color: #333333;
}
.mainContentContLeft {
    padding-top: 10px;
}
.mainRightCont {
    padding-top: 10px;
}
.mainContentContLeft .wrapper {
    border-radius: 3px 3px 3px 3px;
}
.cssSpanCurveWhiteCont {
    border-radius: 3px 3px 3px 3px;
}
.mainNav {
   min-height: 37px;
}
.footernewClass { padding-top:40px; padding-bottom:25px; }
.footernewClass .container { font-size:10px; text-align:center; padding-top:5px;}
.footerText { color: #AAAAAA; text-shadow: 0 2px 0 #FFFFFF; }
.normalPopupCont {
border:0px solid #636363;padding:0px;background-color:#fff;text-align:left;
}

.subNavMainBox {
    float: left;
    margin-top: 10px;
    width: 20%;
}
.mainContentBox {
    float: left;
    height: 100%;
    margin-top: 10px;
    width: 80%;
}
.loading {
	background:#c1c39a;
	color:#303030;
	font-size:20px;
	padding:5px 10px;
	text-align:center;
	width:450px;
	margin:0px auto;
	display:none;
	border-radius: 5px;
}
a,.authorChatPresence, a.mediumUnderlineLink, a.blueLink, a.lightBlue, #myJournalsSelectAction li a, #privateMsgSelectAction li a, .avatarsTab ul li, #moderationViewModeSelections li a{
	color:#555555;
}
/*
a:active,a:link,a:visited,.authorChatPresence,a.underline {
	color:#555555;
	text-decoration:none;
	outline:0;
}
a:active:hover, a:link:hover, a:visited:hover,a:hover {
	text-decoration:underline;
}*/
.followButtion a, .followButtion a:hover {
	color: #fff;
	text-decoration:none!important;
}
span.deskButton{
	color:#555555!important;
}