.fixedheadercell {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    WIDTH: 200px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: darkblue;
}

.fixedheadertable {
    left: 0px;
    position: relative;
    top: 0px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}
